{% extends "base_building.html" %}
{% load i18n %}

{% block body %}
<a href="{% url building-create %}">{% trans "Add building" %}</a>
<form action="." method="POST">
<div>{{ action_form.action.label_tag }}:{{ action_form.action }} <input type="submit" value="{% trans "Do!" %}"/></div>
<table>
	<thead>
	</thead>
	<tbody>
	{% for building in building_list %}
		<tr>
			<td><input type="checkbox" name="objects" value="{{ building.pk }}"/></td>
			<td><a href="{{ building.get_absolute_url }}">{{ building }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</form>
{% endblock %}