{% extends "base_building.html" %}
{% load i18n %}
{% load tabs %}

{% block body %}
{% activetab "building" "classrooms" %}
{% include "buildings/building_menu.html" %}

<a href="{% url classroom-create building_id=building.pk %}">{% trans "Add classroom" %}</a>
<form action="." method="POST">
<div>{{ action_form.action.label_tag }}:{{ action_form.action }} <input type="submit" value="{% trans "Do!" %}"/></div>
<table>
	<thead>
	</thead>
	<tbody>
	{% for classroom in classroom_list %}
		<tr>
			<td><input type="checkbox" name="objects" value="{{ classroom.pk }}"/></td>
			<td><a href="{{ classroom.get_absolute_url }}">{{ classroom }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</form>
{% endblock %}