{% extends "base_course.html" %}
{% load i18n %}
{% load tabs %}

{% block body %}
{% activetab "course" "members" %}
{% include "courses/course_menu.html" %}

{% load i18n %}

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Create course member" %}</legend>
	{{ create_member.as_p }}
	<input type="submit" value="{% trans "Create course member" %}"/>
	</fieldset>
</form>

<table>
	<thead>
	</thead>
	<tbody>
	{% for member in member_list %}
		<tr>
			<td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}