{% extends "base_building.html" %}
{% load i18n %}

{% block body %}
<ul>
	<li><a href="{{ member.get_absolute_url }}">{% trans "Update course" %}</a></li>
	<li><a href="{{ course.course_members_url }}">{% trans "Members" %}</a></li> 
	<li><a href="{{ course.course_lessons_url }}">{% trans "Lessons" %}</a></li>
	<li><a href="{{ course.course_expense_groups_url }}">{% trans "Expense groups" %}</a></li>
</ul>

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Edit attendance list" %}</legend>
		{{ form.as_p }}
		<p><label>{% trans "Lector price" %}:</label>&nbsp;<span>{{ form.instance.lector_price }}</span></p>

		<fieldset>
			<legend>{% trans "Lesson attendees" %}</legend>
			{{ attendee_form.as_p }}
	    </fieldset>
	    
	<input type="submit" value="{% trans "Save" %}"/><input type="reset" value="{% trans "Reset" %}"/>
	</fieldset>
</form>


<table>
	<thead>
	</thead>
	<tbody>
	{% for lesson in lesson_list %}
		<tr>
			<td><a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a></td>
			<td><a href="{{ lesson.get_attendance_list_url }}">{% trans "Attendance list" %}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}