{% extends "base_building.html" %}
{% load i18n %}
{% load tabs %}

{% block head %}
	{{ form.media }}
{% endblock %}

{% block body %}
{% activetab "course" "edit" %}
{% include "courses/course_menu.html" %}

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Edit course member" %}</legend>
		{{ form.as_p }}
	
		<fieldset>
			<legend>{% trans "Tests" %}</legend>
			{{ test_form.management_form }}
			{% for f in test_form.forms %}
				<div>{{ f }}</div>
			{% endfor %}
		</fieldset>
		
		<fieldset>
			<legend>{% trans "Assessments" %}</legend>
			{{ assessment_form.management_form }}
			{% for f in assessment_form.forms %}
				<div>{{ f }}
			{% endfor %}
		</fieldset>
	<input type="submit" value="{% trans "Save" %}"/><input type="reset" value="{% trans "Reset" %}"/>
	</fieldset>
</form>

<table>
	<thead>
	</thead>
	<tbody>
	{% for member in member_list %}
		<tr>
			<td><a href="{{ member.get_absolute_url }}">{{ member }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}