{% extends "base_course.html" %}
{% load i18n %}
{% load tabs %}

{% block body %}
{% activetab "course" "expense_groups" %}
{% include "courses/course_menu.html" %}

{% load i18n %}

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Create expense group" %}</legend>
	{{ create_expense_group.as_p }}
	<input type="submit" value="{% trans "Create expense group" %}"/>
	</fieldset>
</form>

<table>
	<thead>
	</thead>
	<tbody>
	{% for expense_group in expense_group_list %}
		<tr>
			<td><a href="{{ expense_group.get_absolute_url }}">{{ expense_group }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}