{% extends "base_course.html" %}
{% load i18n %}
{% load tabs %}

{% block body %}
{% activetab "course" "expense_groups" %}
{% include "courses/course_menu.html" %}

{% load i18n %}

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Edit expense group" %}</legend>
	{{ form.as_p }}
	
	<fieldset>
		<legend>{% trans "Edit price" %}</legend>
		 {{ price_form.management_form }}
	{% for f in price_form.forms %}
		<div>{{ f }}</div>
    {% endfor %}
    </fieldset>

	<input type="submit" value="{% trans "Save" %}"/>
	<input type="reset" value="{% trans "Reset" %}"/>
	</fieldset>
</form>

<table>
	<thead>
	</thead>
	<tbody>
	{% for expense_group in expense_group_list %}
		<tr>
			<td><a href="{{ expense_group.get_absolute_url }}">{{ expense_group }}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}