{% extends "base_course.html" %}
{% load i18n %}
{% load tabs %}

{% block body %}
{% activetab "course" "lessons" %}
{% include "courses/course_menu.html" %}

{% load i18n %}

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Create lesson" %}</legend>
	{{ create_lesson.as_p }}
	<input type="submit" value="{% trans "Create lesson" %}"/>
	</fieldset>
</form>

<table>
	<thead>
	</thead>
	<tbody>
	{% for lesson in lesson_list %}
		<tr>
			<td><a href="{{ lesson.get_absolute_url }}">{{ lesson }}</a></td>
			<td><a href="{{ lesson.get_attendance_list_url }}">{% trans "Attendance list" %}</a></td>
		</tr>
	{% endfor %}
	</tbody>
</table>
{% endblock %}