{% extends "base_invoice.html" %}
{% load i18n %}

{% block body %}
<ul>
	<li><a href="{{ invoice.get_absolute_url }}">{% trans "Update invoice" %}</a></li>
	<li><a href="{{ invoice.get_lesson_attendees_url }}">{% trans "Invoice lesson attendees" %}</a></li>
</ul>

<form action="." method="POST">
	<fieldset>
		<legend>{% trans "Lesson attendees" %}</legend>
	{{ form}}
	<input type="submit" value="{% trans "Save" %}"/><input type="reset" value="{% trans "Reset" %}"/>
	</fieldset>
</form>
{% endblock %}